<!DOCTYPE html>
<html>
  <head>
    <title>ZingLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.playlistImages = [
        "<%= image_url('UserPlaylists/1.jpg') %>",
        "<%= image_url('UserPlaylists/2.jpg') %>",
        "<%= image_url('UserPlaylists/3.jpg') %>",
        "<%= image_url('UserPlaylists/4.jpg') %>",
        "<%= image_url('UserPlaylists/5.jpg') %>",
        "<%= image_url('UserPlaylists/6.jpg') %>"
      ]
    </script> 
  </head>

  <body class="site">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= yield %>
  </body>
</html>
